<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Nomes</key>
	<array>
		<string>GAVIÃO BUENO</string>
		<string>TIARAJU O SEPÉ</string>
		<string>DUDUDU GAGUINHO</string>
		<string>REMO LONGO</string>
		<string>POLVO PAUL</string>
		<string>CESAR MAIO</string>
		<string>MAGRINA SILVA</string>
		<string>LUCAS GRILLO</string>
		<string>BOCA DE SAPATO</string>
		<string>HÉLIO BICUDO</string>
		<string>PASTOR HILÁRIO</string>
		<string>JORGE SERRA</string>
		<string>ANTÔNIO GAROTINHO</string>
		<string>DILMAR</string>
		<string>SEU FORMIGA</string>
		<string>CAP. NASCIMENTO</string>
		<string>DADINHO</string>
		<string>WYLLIAN HOSSEIN</string>
		<string>JOÃO DOS GALOS</string>
		<string>LÉO FICHA LIMPA</string>
		<string>DEIVIDSON</string>
		<string>WAGUINHO</string>
		<string>KÉVINHO</string>
		<string>PEDRA</string>
		<string>NAIR QUEIJO</string>
		<string>O VEÍN TRABALHADOR</string>
		<string>UREIA-LÁ</string>
		<string>JHÔW O SUPER-HOMEM</string>
		<string>CARA DE HAMBÚRGUER</string>
		<string>MESTRE DRÁCULA</string>
		<string>BRANCO DO PERFUME</string>
		<string>NEYMAR COVER</string>
		<string>GOLD</string>
		<string>BARACK OBAMA HENRIQUE</string>
		<string>OSAMA BIN LADEN</string>
		<string>MADONNA DA COMPENSA</string>
		<string>PÃO TORRADO</string>
		<string>NEGO JIBÓIA</string>
		<string>FILHO DO PADRE</string>
		<string>BONECA</string>
		<string>LIGEIRINHO</string>
		<string>BOLINHA</string>
		<string>PALHAÇO LERO LERO</string>
		<string>PAI AMADO</string>
		<string>RISCA FACA</string>
		<string>MULHER MELÃO</string>
		<string>ZÉ BONITINHO</string>
		<string>MULHER LARANJA</string>
		<string>PAULO PERNINHA</string>
		<string>LOBISOMEM</string>
		<string>DEFUNTO</string>
	</array>
	<key>Partidos</key>
	<array/>
</dict>
</plist>
